<div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('https://kitt.lewagon.com/placeholder/cities/<%= @flat.city_slug %>');">
  <div class="card-category"><%= @flat.city_name %></div>
  <div class="card-description">
    <h3><%= @flat.name %></h3>
    <p><%= @flat.description %></p>
  </div>

  <p class="card-rating">
    <% @flat.rating.times do %>
      <i class="fa fa-star" style="color: #ffb400"></i>
    <% end %>
    <% (5 - @flat.rating).times do %>
      <i class="fa fa-star" style="color: #cacccd"></i>
    <% end %>
  </p>

  <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{@owner}", class:"card-user" %>
  <%= link_to "", "flats/#{@owner}.html", class: "card-link" %>
</div>

